node_modules
target
dist
logs
src/public/locales
src/public/*.json
out
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log

infra/*.js
infra/!jest.config.js
infra/*.d.ts
infra/node_modules

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out
infra/cdk.context.json
